<html>

<head>
  <title>ShopStatus</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
<div id="wrap">
  <span class="title">Hello! <%= email %></span>
  <div class="user">
    <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
    <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
    <input type="button" class="btn" onclick=" location.href='/logout'" value="LOGOUT"/>
  </div>
</div>
</body>

</html>
