doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    header header
    main
      block content
    footer.text-muted Copyright &copy; Your Website 2020
      div
        a(href='#') Privacy Policy
        |                                 &middot;
        a(href='#') Terms &amp; Conditions
