extends layout

block content
    .card.text-center
        .card-header
            h1= title
        .card-body
            form.loginform(action='/login', method='POST')
                div.id-area
                    label(for='email') E-MAIL
                    br
                    input(type='email', name='email', placeholder='Enter your email', required='')
                div.pw-area
                    label(for='password') PASSWORD
                    br
                    input(type='password', name='password', placeholder='Enter your password', required='')
                button.btn LOGIN!
        .card-footer