extends layout

block content
    .card.text-center
        .card-header
            h1= title
        .card-body
            form.loginform(action='/profile', method='POST')
                div.id-area
                    label(for='email') E-MAIL
                    br
                    input(type='email', name='email', value=`${user.email}`, required='')
                div.name-area
                    label(for='name') Name
                    br
                    input(type='name', name='name', value=`${user.name}`, required='')
                div.pw-area
                    label(for='password') PASSWORD
                    br
                    input(type='password', name='password', required='')
                div.pwch-area
                    label(for='passwordCheck') PASSWORD CHECK
                    br
                    input(type='password', name='passwordCheck', required='')
                button.btn SAVE!
            div
                input.btn(type='button', onclick=" location.href='/leave'", value='LEAVE')
        .card-footer