extends layout

block content
    .card.text-center
        .card-header
            h1= title
        .card-body
            form.signupform(action='/signup', method='POST')
                div.id-area
                    label(for='email') E-MAIL
                    br
                    input(type='email', name='email', placeholder='Enter your email', required='')
                div.name-area
                    label(for='name') Name
                    br
                    input(type='name', name='name', placeholder='Enter your name', required='')
                div.pw-area
                    label(for='password') PASSWORD
                    br
                    input(type='password', name='password', placeholder='Enter your password', required='')
                div.pwch-area
                    label(for='passwordCheck') PASSWORD CHECK
                    br
                    input(type='password', name='passwordCheck', placeholder='Enter your confirmation password', required='')
                button.btn SIGNUP!
        .card-footer