* {margin: 0 auto; list-style: none;}
a {  color: #70AD47;   text-decoration: none;}


/* header */
header{
  padding: 20px 0;
}

.logo {display: flex; float: left;}
.profile{text-align: right;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 80%;
  margin-bottom: 30px;
}  
/* card*/
.card{
  display: flex;
}
.card-menu {
  width:200px;
	height:630px;
  padding: 40px;
  float:left;
  margin-right:10px;
  background: #ffffff;
  border: 1px solid #70AD47;
}

.card-a{
  display: flex;
  float: left;
  width: 100%;
  background-color: #fff;
}

.card-b{
  display: flex;
}

.data{
  width: 50%;
  background-color: #eeeeee;
  height: 400px;
  border: 1px solid #70AD47;
  margin-bottom: 10px;
  margin-right: 10px;
}
.crawling{
  width: 50%;
  background-color: #eee;
  height: 400px;
  border: 1px solid #70AD47;
}
.msg{
  width: 100%;
  background-color: #eee;
  height: 298px;
  border: 1px solid #70AD47;
}
/*navi*/
.menu{
	width:100%;
	text-align:center;
}
.navi{
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}
.navi > li {
  margin: 20px 0;
}
.navi > li > a{
	width:100%;
	margin:50px 0;
	font-size:16px;
	color:#999;
}
.navi > li > a:hover{
	color:#222328;
}
p {
  color: #70AD47;
}

.navi > li:nth-last-child(1) a {
  color: black;
}

footer {
  text-align: center; 
  margin: 20px;
}
